################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularJSDemo/.vs
/AngularJSDemo/packages
/temp data
/AngularJSDemo/AngularJSDemo/bin
/AngularJSDemo/AngularJSDemo/bower_components
/AngularJSDemo/AngularJSDemo/obj/Debug
/blur-admin-customize/.vs
